html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  background-color: var(--bg-color-inset);
}

html {
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: red;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  --border-radius: 16px;
}

.light {
  --fg-color-default: #212121;
  --fg-color-muted: #59636E;
  --fg-color-disabled: #818B98;
  --fg-color-on-emphasis: #FFFFFF;

  --bg-color-inset: #F6F8FA;
  --bg-color-inset-emphasis: #E0E6EB;
  --bg-color-default: #FFFFFF;
  --bg-color-muted: #F6F8FA;
  --bg-color-emphasis: #25292E;
  --bg-color-done-emphasis: #8250DF;
  --bg-color-done-muted: #FBEFFF;
  --bg-color-danger-emphasis: #CF222E;
  --bg-color-danger-muted: #FFEBE9;
  --bg-color-attention-emphasis: #9A6700;
  --bg-color-attention-muted: #FFF8C5;
  --bg-color-success-emphasis: #1F883D;
  --bg-color-success-muted: #DAFBE1;

  --border-color-default: #E4E4E4;

  --overlay-bg-color: #C8D1DA80;

  --button-invisible-icon-color-rest: #212121;
  --button-default-border-color-rest: #E4E4E4;

  --control-bg-color-rest: #F6F8FA;
  --control-bg-color-hover: #EFF2F5;
  --control-bg-color-active: #E6EaEF;
  --control-bg-color-disabled: #EFF2F5;
  --control-fg-color-rest: #25292E;
  --control-fg-color-placeholder: #59636E;
  --control-fg-color-disabled: #818B98;
  --control-border-color-rest: #D1D9E0;
  --control-border-color-emphasis: #818B98;
  --control-border-color-disabled: #818B981A;
  --control-border-color-selected: #F6F8FA;

  --button-primary-bg-color-rest: #212121;
  --button-primary-bg-color-hover: #000000;
  --button-primary-fg-color-rest: #FFFFFF;

  --data-blue-color: #18A0FB;
  --data-purple-color: #894CEB;
  --data-turquoise-color: #00B2A9;
  --data-mint-green-color: #2ECC71;
  --data-coral-color: #FF6F61;
  --data-pastel-pink-color: #F39C12;
  --data-sun-yellow-color: #F1C40F;
  --data-light-grey-color: #BDC3C7;
  --data-aquamarine-color: #1ABC9C;
  --data-fire-red-color: #E74C3C;
  --data-lime-green-color: #27AE60;
  --data-lavender-color: #9B59B6;

  --chart-line-color: #90909033;

  --bg-blur-default: blur(5px);

  --shadow-inset-small: inset 0 0 4px rgba(0, 0, 0, 0.1);
  --shadow-resting-small: 0 0 4px rgba(0, 0, 0, 0.1);

  --focus-outline-color: #0969DA;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */