html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  background-color: var(--bg-color-inset);
}

html {
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: red;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  --border-radius: 24px;
}

.light {
  --fg-color-default: #1F2328;
  --fg-color-muted: #61646F;
  --fg-color-disabled: #8C959F;

  --bg-color-inset: #FFFFFF;
  --bg-color-default: #FFFFFF;
  --bg-color-muted: #E8E9F2;
  --bg-color-emphasis: #24292f;
  --bg-color-done-emphasis: #8250DF;
  --bg-color-done-muted: #FBEFFF;
  --bg-color-danger-emphasis: #CF222E;
  --bg-color-danger-muted: #FFEBE9;
  --bg-color-attention-emphasis: #9A6700;
  --bg-color-attention-muted: #FFF8C5;
  --bg-color-success-emphasis: #1F883D;
  --bg-color-success-muted: #DAFBE1;

  --button-invisible-icon-color-rest: #636C76;

  --border-color-default: #FFFFFF;

  --data-purple-color: #894CEB;

  --chart-line-color: #90909033;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
